main {
    flex: 1;
}

.titulo{

    text-align: center;
    font-size: 40px;
    font-family: "Kameron", serif;
}


.container {

    display: flex;
    
}

.icon_school {
    
    width: 800px;
    height: 800px;
    margin: 50px 70px;
    color: rgb(253, 251, 251);
    border: 5px solid rgb(250, 250, 250);
    box-shadow: 0px 0px 40px rgb(247, 247, 247);
    border-radius: 20%;
    
}

.list_estudio {
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 25px;
    margin: 10rem 19rem;
    font-family: "Saira Stencil", sans-serif;
    color: rgb(245, 245, 245);
    transition: .4s ease-in-out;
    margin: 90px 70px;
    width: 80rem;
    height: ;
    border: 5px transparent rgb(250, 250, 250);
}

.list_estudio:hover {

    transform: translateX(20px);
}

.list_estudio1 {

    display: flex;
    justify-content: end;

}


h2 {

    font-family: "Kameron", serif;
     text-decoration: underline rgb(255, 252, 252);
}
