
.container {
    
    flex-wrap: wrap;
    
}

.titulo{

    text-align: center;
    font-size: 40px;
    font-family: "Kameron", serif;
}

.card {

    display: flex;
    justify-content: center;
}

.icon_school {
    
    margin-top: 25px;
    margin-left: 450px;
    color: rgb(253, 251, 251);
    border: 5px solid rgb(250, 250, 250);
    box-shadow: 0px 0px 40px rgb(247, 247, 247);
    border-radius: 20%;
    
}

.list_estudio {
    
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: "Saira Stencil", sans-serif;
    color: rgb(245, 245, 245);
    transition: .4s ease-in-out;
    margin: 90px 70px;
    border: 5px transparent rgb(250, 250, 250);
}

.list_estudio:hover {

    transform: translateX(20px);
}

.list_estudio1 {

    display: flex;
    justify-content: end;

}


h2 {

    font-family: "Kameron", serif;
    text-decoration: underline rgb(255, 252, 252);
}
 
.list_trabajo {

    
    display: flex;
    flex-direction: column;
    
    font-size: 25px;
    font-family: "Saira Stencil", sans-serif;
    color: rgb(245, 245, 245);
    transition: .4s ease-in-out;
    margin: 90px 70px;
    border: 5px transparent rgb(250, 250, 250);
}


.list_trabajo:hover {

    transform: translateX(20px);
}

.work {
    font-family: "Montenegrin Gothic One", serif;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
