* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.menu {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: solid black;
}

.menu_list {

    display: flex;
    gap: 100px;
    list-style: none;
    
   
}


.logo {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
}

.icon {

    width: 40px;
    height: 40px;
}
li{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;


}
a{
    text-decoration: none;
}