

.hero {
    flex-wrap: wrap;
}



.hero_text {

    font-size: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(250, 250, 250);
    align-items: center;
    border-radius: 20%;
    margin: 10rem 20rem;
    box-shadow: 0px 0px 40px rgb(247, 247, 247);
    font-family: "Saira Stencil", sans-serif;
    color: white;
    transition: .4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);

}

.img_portada {

    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-top: 2rem;
    border: 4px transparent rgb(248, 247, 247);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 40px rgb(243, 243, 243);
}


h1{
    font-size: 40px;
}

._perfil {

    display: flex;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5%;
    margin: 10rem 10rem ;
    box-shadow: 0px 0px 40px rgb(252, 252, 252);
 
}



.habilidades {  
    margin: 30px;
    padding: 30px;
    width: 60rem;
    font-family: "Saira Stencil", sans-serif;
    border: 4px transparent rgb(250, 250, 250);
    border-radius: 5%;
    box-shadow: 0px 0px 40px rgb(253, 253, 253);
    transition: .4s ease-in-out;
    font-size: 35px;
}

.habilidades:hover {
    transform: translateX(20px);
}

.objetivos {
  
    display: flex;
    justify-content: start;
    margin: 30px;
    padding: 30px;
    width: 60rem;
    font-family: "Saira Stencil", sans-serif;
    border: 4px transparent rgb(250, 250, 250);
    border-radius: 5%;
    box-shadow: 0px 0px 40px rgb(253, 253, 253);
    transition: .4s ease-in-out;
    font-size: 35px;
}

.objetivos:hover {
     transform: translateX(20px);
}


.intereses { 
    display: flex;
    justify-content: start;
    margin: 30px;
    padding: 30px;
    width: 60rem;
    font-family: "Saira Stencil", sans-serif;
    border: 4px transparent rgb(250, 250, 250);
    border-radius: 5%;
    box-shadow: 0px 0px 40px rgb(253, 253, 253);
    transition: .4s ease-in-out;
    font-size: 35px;
}

.intereses:hover {
    transform: translateX(20px);
}

.subtitulo {
    text-decoration: underline rgb(255, 252, 252);
}
